{% extends 'layouts/login.html.twig' %}
{% block body %}

    <section id="auth_block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'partials/_logo_white.html.twig' %}
                    <div class="auth_items block_shadow b_center">
                        {% include 'partials/_message.html.twig' %}
                        <h2 class="b_center">{{ 'Login'|trans }}</h2>
                        {% if app.user %}
                            <div class="mb-3">
                                {{ 'You logged as'|trans }} {{ app.user.username }} <br /><br />
                                <a href="{{ path('app_logout') }}"><button>{{ 'Logout'|trans }}</button></a>
                            </div>
                        {% else %}
                            <form class="form-std" method="post" autocomplete="off">
                                {% for message in app.flashes('notification') %}
                                    <div class="alert-success alert alert-dismissible" role="alert">
                                        <p>{{ message }}</p>
                                        {#<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>#}
                                    </div>
                                {% endfor %}
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="E-mail" autocomplete="email" required autofocus>
                                <input type="password" name="password" id="inputPassword" placeholder="Пароль" autocomplete="current-password" required>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button>{{ 'Enter'|trans }}</button>
                            </form>
                        {% endif %}

                        {% if app.user %}
                        {% else %}
                            <p class="m_t_15"><a href="{{ path('app_forgot_password_request') }}">{{ 'Forgot password'|trans }}</a></p>
                            <p class="text-grey">{{ 'No account'|trans }}
                                <a href="{{ path('app_registration') }}">{{ 'Register'|trans }}</a>
                            </p>
                            {#<p class="text-grey" style="margin-top: -10px;">{{ 'Follow changes'|trans }}
                                <span id="subscribe" class="main-page-subscribe">{{ 'Subscribe'|trans }}</span>
                            </p>#}
                        {% endif %}
{#                        {% include 'partials/_download_app.html.twig' %}#}
                    </div>
                    <p class="text-grey">
                        Центр поддержки клиентов: <a href="#">8 800 100 00 00</a><br /> Звонок по России бесплатный
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}