{% extends 'layouts/login.html.twig' %}
{% block title %}Регистрация клиента{% endblock %}
{% block body %}

    <section id="reg_master">
        <div class="container">
            {% include 'partials/_logo_black.html.twig' %}

            <div class="row">
                <div class="col-md-12">
                    <h1>Регистрация мастера</h1>
                </div>
            </div>

            <div class="row">
                {{ form_start(registrationForm, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}
                <div class="col-md-5">
                    <div class="reg_contact">
                        <h3>Контактная информация</h3>
                        {{ form_widget(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, { label: 'Пароль'}) }}
                        {{ form_widget(registrationForm.phone) }}
                        {{ form_widget(registrationForm.fullName) }}
                        {{ form_widget(registrationForm.city) }}

                        <div class="avatar_upload">
                            <img src="{{ asset('assets/images/avatar.png') }}" alt="" />
                            <div class="">
                                <p>Аватар пользователя</p>
                                <div class="upload_file">
                                    {{ form_widget(registrationForm.avatar) }}
                                    <button class="upload">Загрузить<i></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="pasport_upload">
                        <h3>Фото паспорта</h3>
                        <div class="p_upload_items">
                            <div class="p_upload_item">

                                <div class="file_upload">
                                    <p>Главная страница</p>
                                    <span><img src="{{ asset('assets/images/file_upload.svg') }}" alt="" /> {#file-pasport.jpg#}</span>
                                </div>

                                <div class="p_upload_btn">
                                    {{ form_widget(registrationForm.doc1) }}
                                    <button class="upload">Загрузить<i></i></button>
                                </div>
                            </div>

                            <div class="p_upload_item">
                                <div class="file_upload">
                                    <p>Страница прописки</p>
                                    <span><img src="{{ asset('assets/images/file_upload.svg') }}" alt="" />{#file-regitration.jpg#}</span>
                                </div>
                                <div class="p_upload_btn">
                                    {{ form_widget(registrationForm.doc2) }}
                                    <button class="upload">Загрузить<i></i></button>
                                </div>
                            </div>

                            <div class="p_upload_item">
                                <div class="file_upload">
                                    <p>Селфи с паспортом</p>
                                    <span><img src="{{ asset('assets/images/file_upload.svg') }}" alt="" />{#file-selfi.jpg#}</span>
                                </div>
                                <div class="p_upload_btn">
                                    {{ form_widget(registrationForm.doc3) }}
                                    <button class="upload">Загрузить<i></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="reg_prof">
                        <h3>Специализация</h3>
                        {% if professions is not empty %}
                        <div class="cb_block">
                            {% for profession in professions %}
                                <div class="cb_items">
                                    <div class="main_checkbox">
                                        <label class="checkbox">
                                            <input type="checkbox" id="registration_master_form_professions_{{ profession.id }}" name="registration_master_form[professions][]" value="{{ profession.id }}" checked>
                                            <span>{{ profession.name }}</span>
                                        </label>
                                    </div>
                                    {% for jobType in profession.jobTypes %}
                                        <label class="checkbox">
                                            <input type="checkbox" id="registration_master_form_jobTypes_{{ jobType.id }}" name="registration_master_form[jobTypes][]" value="{{ jobType.id }}">
                                            <span>{{ jobType.name }}</span>
                                        </label>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        {% else %}
                            <p>Empty professions list</p>
                        {% endif %}
                    </div>
                </div>
                {% include 'partials/footer/_registration_footer.html.twig' %}
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>

{% endblock %}