{% extends 'layouts/login.html.twig' %}
{% block title %}Регистрация клиента{% endblock %}
{% block body %}

    <section id="reg_client">
        <div class="container">
            {% include 'partials/_logo_black.html.twig' %}
            {% include 'partials/_message.html.twig' %}

            <div class="row">
                <div class="col-md-12">
                    <h1>Регистрация Клиента</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"></div>
                {{ form_start(registrationForm, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}
                <div class="col-md-12">
                    <div class="reg_contact">
                        <h3>Контактная информация</h3>
                            {{ form_widget(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword, { label: 'Пароль'}) }}
                            {{ form_widget(registrationForm.phone) }}
                            {{ form_widget(registrationForm.fullName) }}
                            {{ form_widget(registrationForm.city) }}
                            {{ form_widget(registrationForm.district) }}
                        <div class="avatar_upload">
                            <img id="avatar" src="{{ asset('assets/images/avatar.png') }}" alt="" />
                            <div class="">
                                <p>Аватар пользователя</p>
                                <div class="upload_file">
                                    {{ form_widget(registrationForm.avatar) }}
                                    <button class="upload">{{ 'Upload'|trans }}<i></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'partials/footer/_registration_footer.html.twig' %}
                {{ form_end(registrationForm) }}

            </div>
        </div>
    </section>
    <script>
        $(function(){
            $("#registration_form_phone").mask("+7(999) 999-9999");
        });
        // Remove avatar image upload
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#avatar')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        // Hover on upload button
        $( ".upload_file" ).hover(
            function() {
                $( ".upload" ).addClass( 'hover');
            }, function() {
                $( ".upload" ).removeClass( 'hover');
            }
        );
    </script>
{% endblock %}
