{% extends 'layouts/login.html.twig' %}
{% block title %}Регистрация клиента{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ asset('assets/js/dependableList.js') }}"></script>
    {% endblock %}

{% block body %}
    <section id="reg_client">
        <div class="container">
            {% include 'partials/_logo_black.html.twig' %}
            {% include 'partials/_message.html.twig' %}

            <div class="row">
                <div class="col-md-12">
                    <h1>Регистрация Клиента {% if is_granted('ROLE_COMPANY') %} для компании "{{ currentUser.fullName }}"{% endif %}</h1>
                </div>
            </div>

            <div id="info" class="load-info">
                <h2>{{ 'Data is sent'|trans }}</h2>
                <div class="loader"></div>
            </div>

            <div class="row">
                <div class="col-md-12"></div>
                {{ form_start(registrationForm, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}
                <div class="col-md-12">
                    <div class="reg_contact">
                        <h3>Контактная информация</h3>
                            {{ form_widget(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword, { label: 'Пароль'}) }}
                            {{ form_widget(registrationForm.phone) }}
                            {{ form_widget(registrationForm.fullName) }}
{#                            {{ form_widget(registrationForm.city) }}#}
{#                            {{ form_widget(registrationForm.district) }}#}


                        <label for="registration_form_city" style="display: none;"></label>
                        <select id="registration_form_city" name="registration_form[city]" required>
                            <option value="">Выберите город *</option>
                            {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="registration_form_district" style="display: none"></label>
                        <select id="registration_form_district" name="registration_form[district]">
                            {% for district in districts %}
                                <option data-list-id="{{ district.city.id }}" value="{{ district.id }}">
                                    {{ district.name }}
                                </option>
                            {% endfor %}
                        </select>

                        <div class="avatar_upload">
                            <img id="avatar" src="{{ asset('assets/images/avatar.png') }}" alt="" />
                            <div class="">
                                <p>Аватар пользователя</p>
                                <div class="upload_file">
                                    {{ form_widget(registrationForm.avatar) }}
                                    <button class="upload">{{ 'Upload'|trans }}<i></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'partials/footer/_registration_footer.html.twig' %}
                {{ form_end(registrationForm) }}

            </div>
        </div>
    </section>
    <script>
        createDependableList ( '#registration_form_city', '#registration_form_district' );
        $(function(){
            $("#registration_form_phone").mask("+7(999) 999-9999");
        });
        // Remove avatar image upload
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#avatar')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        // Hover on upload button
        $( ".upload_file" ).hover(
            function() {
                $( ".upload" ).addClass( 'hover');
            }, function() {
                $( ".upload" ).removeClass( 'hover');
            }
        );

        function checkParams() {
            var email = $('#registration_form_email').val();
            var pass1 = $('#registration_form_plainPassword_first').val();
            var pass2 = $('#registration_form_plainPassword_second').val();
            var phone = $('#registration_form_phone').val();
            var fullName = $('#registration_form_fullName').val();
            if (
                email.length != 0 &&
                pass1.length != 0 &&
                pass2.length != 0 &&
                phone.length != 0 &&
                fullName.length != 0
            ){
                $('#submit').removeAttr('disabled');
            } else {
                $('#submit').attr('disabled', 'disabled');
            }
        }
        $("#submit").click(function() {
            $('#info').removeClass('load-info');
        });

    </script>
{% endblock %}
