{% extends 'layouts/login.html.twig' %}
{% block title %}Регистрация клиента{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ asset('assets/js/dependableList.js') }}"></script>
    {% endblock %}

{% block body %}
    <section id="reg_master">
        <div class="container">
            {% include 'partials/_logo_black.html.twig' %}
            {% include 'partials/_message.html.twig' %}

            <div class="row">
                <div class="col-md-12">
                    <h1>Регистрация мастера</h1>
                </div>
            </div>

            {{ form_start(registrationForm, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}
            <div class="row">
                <div class="col-md-6">
                    <div class="reg_contact">
                        <h3>Контактная информация</h3>
                        {{ form_widget(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, { label: 'Пароль'}) }}
                        {{ form_widget(registrationForm.phone) }}
                        {{ form_widget(registrationForm.fullName) }}

                        <label for="registration_master_form_city" style="display: none;"></label>
                        <select id="registration_master_form_city" name="registration_master_form[city]" required>
                            <option value="">Выберите город *</option>
                            {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="registration_master_form_district" style="display: none"></label>
                        <select id="registration_master_form_district" name="registration_master_form[district]">
                            {% for district in districts %}
                                <option data-list-id="{{ district.city.id }}" value="{{ district.id }}">
                                    {{ district.name }}
                                </option>
                            {% endfor %}
                        </select>


{#                        {{ form_widget(registrationForm.city) }}
                        {{ form_widget(registrationForm.district) }}#}

                        <div class="avatar_upload">
                            <img id="avatar" src="{{ asset('assets/images/avatar.png') }}" alt="" />
                            <div class="">
                                <p>Аватар пользователя</p>
                                <div class="upload_file upload_file_1">
                                    {{ form_widget(registrationForm.avatar) }}
                                    <button class="upload upload-1">{{ 'Upload'|trans }}<i></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pasport_upload">
                        <h3>Фото паспорта</h3>
                        <div class="p_upload_items">
                            <div class="p_upload_item">

                                <div class="file_upload">
                                    <p>Главная страница</p>
                                    <span><img id="doc1" alt="" /></span>
{#                                    <span><img id="doc1" src="{{ asset('assets/images/file_upload.svg') }}" alt="" /> #}{#file-pasport.jpg#}{#</span>#}
                                </div>

                                <div class="p_upload_btn upload_file_2">
                                    {{ form_widget(registrationForm.doc1) }}
                                    <button class="upload upload-2">{{ 'Upload'|trans }}<i></i></button>
                                </div>
                            </div>

                            <div class="p_upload_item">
                                <div class="file_upload">
                                    <p>Страница прописки</p>
                                    <span><img id="doc2" alt="" /></span>
{#                                    <span><img id="doc2" src="{{ asset('assets/images/file_upload.svg') }}" alt="" />#}{#file-regitration.jpg#}{#</span>#}
                                </div>
                                <div class="p_upload_btn upload_file_3">
                                    {{ form_widget(registrationForm.doc2) }}
                                    <button class="upload upload-3">{{ 'Upload'|trans }}<i></i></button>
                                </div>
                            </div>

                            <div class="p_upload_item">
                                <div class="file_upload">
                                    <p>Селфи с паспортом</p>
                                    <span><img id="doc3" alt="" /></span>
{#                                    <span><img id="doc3" src="{{ asset('assets/images/file_upload.svg') }}" alt="" />#}{#file-selfi.jpg#}{#</span>#}
                                </div>
                                <div class="p_upload_btn upload_file_4">
                                    {{ form_widget(registrationForm.doc3) }}
                                    <button class="upload upload-4">{{ 'Upload'|trans }}<i></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reg_prof">
                        <h3>Специализация</h3>
                        {% if professions is not empty %}
                            <div class="cb_block">
                                {% for profession in professions %}
                                    <div class="cb_items">
                                        <div class="main_checkbox main_checkbox_{{ profession.id }}">
                                            <label class="checkbox">
                                                <input type="checkbox" id="registration_master_form_professions_{{ profession.id }}" name="registration_master_form[professions][]" value="{{ profession.id }}">
                                                <span>{{ profession.name }}</span>
                                            </label>
                                        </div>
                                        <div class="prof_{{ profession.id }} hidden">
                                            {% for jobType in profession.jobTypes %}
                                                <label class="checkbox">
                                                    <input type="checkbox" id="registration_master_form_jobTypes_{{ jobType.id }}" name="registration_master_form[jobTypes][]" value="{{ jobType.id }}">
                                                    <span>{{ jobType.name }}</span>
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>{{ 'Empty professions list'|trans }}</p>
                        {% endif %}
                    </div>
                </div>
                {% include 'partials/footer/_registration_footer.html.twig' %}
            </div>
             {{ form_end(registrationForm) }}
            </div>
    </section>
    {% include 'partials/misc/_register_master_script.html.twig' %}
{% endblock %}