<h5>{{ 'Download app'|trans }}</h5>
<div style="display: flex;">
    <a href="{{ asset('assets/smc.apk') }}" target="_blank">
        <img src="{{ asset('assets/images/app.png') }}" style="width: 90%;" alt="" />
    </a>
    <a href="{{ asset('assets/smc.apk') }}" target="_blank">
        <img src="{{ asset('assets/images/android.png') }}" style="width: 90%;" alt="" />
    </a>
</div>