<div class="notification">
    <div class="status">
        {% if notification.isRead == '0' %}
        <a href="{{ path('app_mark_as_read', { id: notification.id}) }}" title="Отметить как прочитанное">
            <img src="{{ asset('assets/images/notif_status_new.svg') }}">
        </a>
        {% else %}
            <img src="{{ asset('assets/images/notif_status_old.svg') }}">
        {% endif %}
    </div>
    <div class="date">{{ notification.created|date("H:i d.m.Y") }}</div>

    {% if is_granted('ROLE_MASTER') %}
        {% if notification.type == 1 or notification.type == 4 %}
            <div class="title">{{ notification.message }}
                <a href="{{ path('app_master_profile') }}#job{{ notification.application.id }}">ID {{ notification.application.id }}</a>
            </div>
            <div class="desc"><a href="{{ path('app_master_profile') }}#job{{ notification.application.id }}">Вы можете ознакомиться с заявкой</a></div>
        {% endif %}

        {% if notification.type == 2 or notification.type == 3 %}
            <div class="title">{{ notification.message }} <a href="{{ path('app_master_profile') }}#job{{ notification.application.id }}}">ID {{ notification.application.id }}</a></div>
            <div class="desc"><a href="{{ path('app_master_profile') }}">Баланс вы можете посмотреть на странице профиля</a></div>
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_CLIENT') %}
        {% if notification.type == 1 or notification.type == 4 %}
            <div class="title">{{ notification.message }}
                <a href="{{ path('app_client_profile') }}#job{{ notification.application.id }}">ID {{ notification.application.id }}</a>
            </div>
            <div class="desc"><a href="{{ path('app_client_profile') }}">Вы можете ознакомиться с заявкой</a></div>
        {% endif %}

        {% if notification.type == 2 or notification.type == 3 %}
            <div class="title">{{ notification.message }} <a href="{{ path('app_client_profile') }}#job{{ notification.application.id }}">ID {{ notification.application.id }}</a></div>
            <div class="desc"><a href="{{ path('app_client_profile') }}#job{{ notification.application.id }}">Вы можете ознакомиться с заявкой</a></div>
        {% endif %}
    {% endif %}

</div>