<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'partials/misc/_meta.html.twig' %}
    {% include 'partials/misc/_favicons.html.twig' %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
{#        <script>#}
{#            // Initialize deferredPrompt for use later to show browser install prompt.#}
{#            let deferredPrompt;#}

{#            window.addEventListener('beforeinstallprompt', (e) => {#}
{#                // Prevent the mini-infobar from appearing on mobile#}
{#                e.preventDefault();#}
{#                // Stash the event so it can be triggered later.#}
{#                deferredPrompt = e;#}
{#                // Update UI notify the user they can install the PWA#}
{#                showInstallPromotion();#}
{#                // Optionally, send analytics event that PWA install promo was shown.#}
{#                console.log(`'beforeinstallprompt' event was fired.`);#}
{#            });#}
{#        </script>#}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.maskedinput.min.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

{% block javascripts_footer %}
    <script type="text/javascript" src="//www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/firebase_subscribe.js') }}"></script>
{% endblock %}

</body>
</html>