{% if is_granted('ROLE_MASTER') %}
    <div class="phone">
        {% if order.users %}
            <img src="{{ asset('assets/images/phone.svg') }}" alt="" />
            <div class="phone_num">
                {% if order.phone is not empty %}
                    <a href="tel:{{ order.phone|trim|replace({'(': '', ')': '', ' ': '-', '.': '-', '+': ''}) }}">{{ order.phone }}</a>
                {% else %}
                    <a href="tel:{{ order.users.phone|trim|replace({'(': '', ')': '', ' ': '-', '.': '-', '+': ''}) }} }}">{{ order.users.phone }}</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="client_block">
        {% if order.users is not empty %}
            {{ order.users.fullName[:7] ~ '...' }}
        {% if order.users.avatar %}
            <img src="{{ asset('uploads/files/' ~ order.users.avatar) }}"  alt=""/>
        {% else %}
            <img src="{{ asset('assets/images/avatar.png') }}" alt="">
        {% endif %}
        {% endif %}
    </div>
{% elseif is_granted('ROLE_CLIENT') %}

    <div class="phone">
        {% if order.performer %}
            <img src="{{ asset('assets/images/phone.svg') }}" alt="" />
            <div class="phone_num"><a href="tel:{{ order.performer.phone|trim|replace({'(': '', ')': '', ' ': '-', '.': '-', '+': ''}) }} }}">{{ order.performer.phone }}</a></div>
        {% endif %}
    </div>
    <div class="client_block">
        {{ order.performer.fullName }}
        {% if order.performer.avatar %}
            <img src="{{ asset('uploads/files/' ~ order.performer.avatar) }}"  alt=""/>
        {% else %}
            <img src="{{ asset('assets/images/avatar.png') }}" alt="">
        {% endif %}
    </div>
{% else %}
{% endif %}