{% set tax = '' %}
{% if order.city.taxRates is not empty %}
    {% for taxRate in order.city.taxRates %}
        {% if order.profession %}
        {% if taxRate.id == order.profession.id %}
            {% set tax = taxRate.percent * order.price %}
        {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="col-md-4">
    <div class="job_item">
        <a id="job{{ order.id }}"></a>
        <div class="top_item">
            <div class="item_left">
                <h2>{{ order.jobType.name }}</h2>
                <div class="city">
                    {{ order.city.name }}
                </div>
                {% if order.district %}
                    <div class="raion">
                        {{ order.district.name }}
                    </div>
                {% endif %}
                <div class="date">{{ order.deadline|date("d.m.Y") }}</div>
                {% include 'partials/order/_created_by.html.twig' %}
            </div>
            <div class="item_right">
                <div class="id_item">
                    ID {{ order.id }}
                </div>
                <div class="prof">
                    {% if order.profession %}
                     {{ order.profession.name }}
                    {% endif %}
                </div>
                <div class="raiting">
                    <p>Сложность</p>
                    {% include 'partials/order/_order_stars.html.twig' %}
                </div>
                {% if order.status == 0 %}
                    <div class="status">{{ 'New order'|trans }}</div>
                {% endif %}
                {% if order.status == 1 %}
                    <div class="status_performed">{{ 'Working on'|trans }}</div>
                {% endif %}
                {% if order.status == 9 %}
                    <div class="status_complite">{{ 'Completed'|trans }}</div>
                {% endif %}
            </div>
        </div>
        <div class="description">
            {{ order.description }}
        </div>
        <div class="btn_price">
            {% if order.status == 0 %}
                {#<a href="{{ path('app_take_order', { id: order.id}) }}" onclick="return confirm('{{ 'Are you sure you want to take order'|trans }}') ">
                    <button>{{ 'Take order'|trans }}</button>
                </a>#}

                <a href="{{ path('app_take_order', { id: order.id}) }}"
                   onclick="return confirm('{{ 'Are you sure you want to take order'|trans }} {% if tax > 0 %} С вашего баланса будет списано {{ tax }} руб. комиссии {% endif %}')">
                    <button>{{ 'Take order'|trans }}</button>
                </a>
            {% endif %}
            <span><span>{{ order.price|number_format(0, '.', ' ') }} <i>&#8381;</i></span></span>
        </div>

        <div class="client_contact">
            <div class="phone">
                {% if order.status == 0 %}
                    <img src="{{ asset('assets/images/phone.svg') }}" alt="" />
                    <div class="phone_num">{{ order.users.phone[:6] ~ '...' }}</div>
                {% else %}
                    <img src="{{ asset('assets/images/phone.svg') }}" alt="" />
                    <div class="phone_num"><a href="">{{ order.users}}</a></div>
                {% endif %}
            </div>
            <div class="txt_warning">
                Номер телефона клиента будет доступен только после получения заказа
            </div>
        </div>
    </div>
</div>