<div class="top_item">
    <div class="item_left">
        <h2>{{ order.jobType.name }} {% if order.quantity %} - {{ order.quantity }} шт.{% endif %}</h2>
        <div class="city">
            {{ order.city.name }}
        </div>
        {% if order.district %}
            <div class="raion">
                {{ order.district.name }}
            </div>
        {% endif %}
        <div class="date">{{ order.created|date("d.m.Y") }}</div>
        {% include 'partials/order/_created_by.html.twig' %}

        {% if is_granted('ROLE_COMPANY') %}
            {% if app.request.get('_route') == 'app_assign_master' %}
            {% else %}
                {% if assigned is defined and assigned == 1 %}
                    <div class="status_created_by">
                        <a href="{{ path('app_assign_master', { id: order.id}) }}">{{ 'Assign a master'|trans }}</a>
                    </div>
                    {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <div class="item_right">
        <div class="id_item">
            ID {{ order.id }}
        </div>

        {% if order.profession %}
            <div class="prof">
                {{ order.profession.name }}
            </div>
        {% endif %}
        <div class="raiting">
            <p>Сложность</p>
            {% include 'partials/order/_order_stars.html.twig' %}
        </div>
        {% if order.status == 0 %}
            <div class="status">{{ 'New order'|trans }}</div>
        {% endif %}
        {% if order.status == 1 %}
            <div class="status_performed">{{ 'Working on'|trans }}</div>
        {% endif %}
        {% if order.status == 9 %}
            <div class="status_complite">{{ 'Completed'|trans }}</div>
        {% endif %}
    </div>
</div>
{% include 'partials/order/_list_order_description.html.twig' %}
{% set tax = '' %}
{% if order.city.taxRates is not empty %}
    {% for taxRate in order.city.taxRates %}
        {% if order.profession %}
        {% if taxRate.id == order.profession.id %}
            {% set tax = taxRate.percent * order.price %}
        {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if order.status == 0 or order.status == 1 %}
<div class="btn_price">

    {% if is_granted('ROLE_MASTER') %}
    <a href="{{ path('app_close_order', { id: order.id}) }}"
       onclick="return confirm('{{ 'Are you sure you want to close order'|trans }} {% if tax > 0 %} С вашего баланса спишется {{ tax }} руб. {% endif %}')">
        <button>{{ 'Close order'|trans }}</button>
    </a>
    {% endif %}

    {% if is_granted('ROLE_CLIENT') %}
        <a href="{{ path('app_close_order', { id: order.id}) }}"
           onclick="return confirm('{{ 'Are you sure you want to close order'|trans }}')">
            <button>{{ 'Close order'|trans }}</button>
        </a>
    {% endif %}

    {#<span>{{ order.price|format_currency('RUB', {fraction_digit: 0}) }} <i>руб.</i></span>#}
    <span>{{ order.price|number_format(0, '.', ' ') }} <i>&#8381;</i></span>
</div>
{% endif %}