{% extends 'layouts/base.html.twig' %}
{% block title %}{{ 'Welcome'|trans }} {{ user.fullName }}{% endblock %}
{% block body %}

<header id="sticky_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'partials/navigation/_navbar.html.twig' %}
            </div>
        </div>
    </div>
</header>

<section id="list_jobs">
    <div class="container">
        {% include 'partials/_message.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'Support'|trans }}</h1>
            </div>
        </div>
    </div>
</section>

    <section id="list_items">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ 'Detail ticket'|trans }}</h3>
                </div>
            </div>
            <div class="job_item">
                <div class="top_item">
                    <div class="item_left">
                        <h2>{{ ticket.title }}</h2>
                    </div>
                    <div class="item_right">
                        <div class="id_item">
                            ID {{ ticket.id }}
                        </div>
                        <div class="raiting">
                            <p>Срочность</p>
                            {% include 'partials/ticket/_ticket_stars.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="description">
                    <blockquote>
                        <p>{{ ticket.description }}</p>
                        <cite>
                            {{ ticket.user.fullName }} <br />
                            {{ ticket.user.phone }}
                        </cite>
                    </blockquote>
                </div>

                {% if ticket.answer is not empty %}
                    <div class="answers">
                        {% set value = '15' %}
                        {% for key, answer in ticket.answer %}
                            {% set newValue = key * value %}
                            <div class="answer" style="margin-left: {{ newValue }}px;">

                                {% set role = '' %}
                                {% for roles in answer.user.roles %}
                                    {% set role = roles %}
                                {% endfor %}

                                <p>
                                {% if 'ROLE_CLIENT' in role %}
                                    {{ 'Client'|trans }} -
                                {% elseif 'ROLE_MASTER' in role %}
                                    {{ 'Master'|trans }}  -
                                {% endif %}
                                {{ answer.user.fullName }} - {{ answer.created|date("d.m.Y - H:i") }}</p>
                                <p>{{ answer.answer }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>{{ 'No answers'|trans }}</p>
                {% endif %}
            </div>

            {% if ticket.status == 0 or ticket.status == 1 %}
                {{ form_start(answerForm, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}
                <div class="col-md-12">
                    <div class="reg_contact">
                        <h3>{{ 'Answer the question'|trans }}</h3>
                        {{ form_widget(answerForm.answer) }}
                    </div>
                    <div style="text-align: center">
                        <div style="margin: 20px 0;">
                            <button id="myBtn">{{ 'Submit'|trans }}</button>
                        </div>
                    </div>
                </div>
                {{ form_end(answerForm) }}
            {% endif %}

        </div>
    </section>


    {% include 'partials/footer/_footer.html.twig' %}
{% endblock %}