{% extends 'layouts/base.html.twig' %}
{% block title %}{{ 'Welcome'|trans }} {{ user.fullName }}{% endblock %}
{% block body %}

    <link rel='stylesheet' href='https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css'>
    <section id="list_jobs">
        <div class="container">
            {% include 'partials/_message.html.twig' %}
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'Support'|trans }}</h1>
                </div>
            </div>
        </div>
    </section>

     <section id="list_items">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ 'New tickets'|trans }}</h3>
                </div>
            </div>
            {% if newTickets is not empty %}
                <table id="new-tickets" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th scope="col" data-id="id" data-header>{{ 'Ticket id'|trans }}</th>
                    <th scope="col" data-id="name" sortable>{{ 'Created'|trans }}</th>
                    <th scope="col" data-id="price" sortable>{{ 'Ttile'|trans }}</th>
                    <th scope="col" data-id="weight" sortable>{{ 'Description'|trans }}</th>
                    <th scope="col" data-id="weight" sortable>{{ 'User'|trans }}</th>
                    <th scope="col" data-id="weight" sortable>{{ 'Priority'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in newTickets %}
                    <tr>
                        <th scope="row">{{ ticket.id }}</th>
                        <td>{{ ticket.created|date("d.m.Y - H:i") }}</td>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.description|raw }}</td>
                        <td>{{ ticket.user.fullName }}</td>
                        <td>
                            {% include 'partials/ticket/_ticket_stars.html.twig' %}
                        </td>
                        <td><a href="{{ path('app_ticket_detail', { id: ticket.id}) }}">{{ 'Answer ticket'|trans }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>{{ 'Empty orders list'|trans }}</p>
            {% endif %}
            <div class="btn_profile_edit">
                <a href="{{ path('app_backend') }}"><button>{{ 'To admin panel'|trans }}</button></a>
            </div>
        </div>
    </section>

    {% include 'partials/footer/_footer.html.twig' %}
    <script src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'></script>
    <script>
        $(document).ready(function() {
            $("#new-tickets").DataTable();
        });
    </script>
{% endblock %}

