<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if is_granted('ROLE_MASTER') %}
        <a class="navbar-brand" href="{{ path('app_master_profile') }}"><img src="{{ asset('assets/images/logo.svg') }}" alt=""></a>
    {% elseif is_granted('ROLE_CLIENT') %}
        <a class="navbar-brand" href="{{ path('app_client_profile') }}"><img src="{{ asset('assets/images/logo.svg') }}" alt=""></a>
    {% elseif is_granted('ROLE_COMPANY') %}
        <a class="navbar-brand" href="{{ path('app_company_profile') }}"><img src="{{ asset('assets/images/logo.svg') }}" alt=""></a>
    {% else %}
        <a class="navbar-brand" href="{{ path('app_login') }}"><img src="{{ asset('assets/images/logo.svg') }}" alt=""></a>
    {% endif %}
    <div class="navbar-collapse offcanvas-collapse" id="navbarSupportedContent">
        <button class="offcanvas-close" type="button" data-toggle="offcanvas-close">
            ×
        </button>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {% if is_granted('ROLE_MASTER') %}
                    <a class="nav-link" href="{{ path('app_orders_list') }}">Список заказов</a>
                {% endif %}
                {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_COMPANY') %}
                    <a class="nav-link" href="{{ path('app_order_new') }}">Создать заявку</a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_support') }}">Техническая поддержка</a>
            </li>

            {% if is_granted('ROLE_MASTER') or is_granted('ROLE_CLIENT') %}
                {% set nts = 0 %}
                {% if user.notifications %}
                    {% for notification in user.notifications %}
                        {% if notification.isRead == 0 %}
                            {% set nts = nts + 1 %}
                        {% endif %}
                    {% endfor %}
                    {#{% set nts = user.notifications|length %}#}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link notif" href="{{ path('app_notifications') }}">
                        <img src=" {{ asset('assets/images/notif.svg') }}" alt="">{% if nts > 0 %}<span>{{ nts }}</span>{% endif %}
                    </a>
                </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {% if user.avatar is defined %}
                        <img src="{{ asset('uploads/files/' ~ user.avatar) }}" class="user-rounded" width="40" height="40" />
                    {% else %}
                        <img src="{{ asset('assets/images/avatar.png') }}">
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if is_granted('ROLE_MASTER') %}
                        <a class="dropdown-item" href="{{ path('app_master_profile') }}">Профиль</a>
                    {% endif %}
                    {% if is_granted('ROLE_CLIENT') %}
                        <a class="dropdown-item" href="{{ path('app_client_profile') }}">Профиль</a>
                    {% endif %}
                    {% if is_granted('ROLE_MASTER') %}
                        <a class="dropdown-item" href="{{ path('app_master_balance') }}">Баланс</a>
                    {% endif %}
                    {% if is_granted('ROLE_COMPANY') %}
                        <a class="dropdown-item" href="{{ path('app_company_profile') }}">Профиль</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ path('app_history') }}">История заказов</a>
                    <a class="dropdown-item" href="{{ path('app_notifications') }}">Уведомления</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Выйти</a>
                </div>
            </li>
        </ul>

    </div>
</nav>