{% extends 'layouts/base.html.twig' %}
{% block title %}{{ 'Welcome'|trans }} {{ user.fullName }}{% endblock %}
{% block body %}

    <header id="sticky_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'partials/navigation/_navbar.html.twig' %}
                </div>
            </div>
        </div>
    </header>

    <section id="list_jobs">
        <div class="container">
            {% include 'partials/_message.html.twig' %}
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'Edit profile'|trans }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="reg_client">
        <div class="container">
            <div class="row">
                <div class="col-md-12"></div>
                {{ form_start(form, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}
                <div class="col-md-5">
                    <div class="reg_contact">
                        <h3>Контактная информация</h3>
                        {{ form_widget(form.email) }}
                        {{ form_row(form.plainPassword, { label: 'Пароль'}) }}
                        {{ form_widget(form.phone) }}
                        {{ form_widget(form.fullName) }}
                        {{ form_widget(form.city) }}

                        <div class="avatar_upload">
                            {% if user.avatar %}
                                <img src="{{ asset('uploads/files/' ~ user.avatar) }}" class="user-rounded" width="121" height="121" />
                            {% else %}
                                <img src="{{ asset('assets/images/avatar.png') }}">
                            {% endif %}
                            <div class="">
                                <p>Аватар пользователя</p>
                                <div class="upload_file">
                                    {{ form_widget(form.avatar) }}
                                    <button class="upload">Загрузить<i></i></button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="pasport_upload">
                        <h3>Фото паспорта</h3>
                        <div class="p_upload_items">
                            <div class="p_upload_item">

                                <div class="file_upload">
                                    <p>Главная страница</p>
                                    <span><img src="{{ asset('assets/images/file_upload.svg') }}" alt="" />
                                        {% if user.doc1 %}
                                            <img src="{{ asset('uploads/files/' ~ user.doc1) }}" width="40" height="40" />
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="p_upload_btn">
                                    {{ form_widget(form.doc1) }}
                                    <button class="upload">Загрузить<i></i></button>
                                </div>
                            </div>

                            <div class="p_upload_item">
                                <div class="file_upload">
                                    <p>Страница прописки</p>
                                    <span><img src="{{ asset('assets/images/file_upload.svg') }}" alt="" />
                                        {% if user.doc2 %}
                                            <img src="{{ asset('uploads/files/' ~ user.doc2) }}" width="40" height="40" />
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="p_upload_btn">
                                    {{ form_widget(form.doc2) }}
                                    <button class="upload">Загрузить<i></i></button>
                                </div>
                            </div>

                            <div class="p_upload_item">
                                <div class="file_upload">
                                    <p>Селфи с паспортом</p>
                                    <span><img src="{{ asset('assets/images/file_upload.svg') }}" alt="" />
                                    {% if user.doc3 %}
                                        <img src="{{ asset('uploads/files/' ~ user.doc3) }}" width="40" height="40" />
                                    {% endif %}
                                    </span>
                                </div>
                                <div class="p_upload_btn">
                                    {{ form_widget(form.doc3) }}
                                    <button class="upload">Загрузить<i></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {#ToDo: set checkboxes#}
                <div class="col-md-12">
                    <div class="reg_prof">
                        <h3>Специализация</h3>
                        {% if professions is not empty %}
                            <div class="cb_block">
                                {% for profession in professions %}
                                    <div class="cb_items">
                                        <div class="main_checkbox">
                                            <label class="checkbox">
                                                <input type="checkbox" id="registration_master_form_professions_{{ profession.id }}" name="registration_master_form[professions][]" value="{{ profession.id }}" checked>
                                                <span>{{ profession.name }}</span>
                                            </label>
                                        </div>
                                        {% for jobType in profession.jobTypes %}
                                            <label class="checkbox">
                                                <input type="checkbox" id="registration_master_form_jobTypes_{{ jobType.id }}" name="registration_master_form[jobTypes][]" value="{{ jobType.id }}">
                                                <span>{{ jobType.name }}</span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>{{ 'Empty professions list'|trans }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="reg_bottom">
                        <div class="cb_notifications">
                            <label class="checkbox">
                                {{ form_widget(form.getNotifications) }}
                                <span>Получать уведомления</span>
                            </label>
                        </div>
                        <button>Обновить</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
    {% include 'partials/footer/_footer.html.twig' %}
{% endblock %}