{% extends 'layouts/base.html.twig' %}
{% block title %}Редактировать профиль мастера - {{ user.fullName }}{% endblock %}
    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ asset('assets/js/jquery.simpleLoadMore.js') }}"></script>
        <script src="{{ asset('assets/js/dependableList.js') }}"></script>
    {% endblock %}
{% block body %}

    <header id="sticky_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'partials/navigation/_navbar.html.twig' %}
                </div>
            </div>
        </div>
    </header>

    <section id="list_jobs">
        <div class="container">
            {% include 'partials/_message.html.twig' %}
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'Edit profile'|trans }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="reg_client">
        <div class="container">
            <div class="row">
                <div class="col-md-12"></div>
                {{ form_start(form, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}
                <div class="col-md-5">
                    <div class="reg_contact">
                        <h3>Контактная информация</h3>
                        {{ form_widget(form.email) }}
                        {{ form_row(form.plainPassword, { label: 'Пароль'}) }}
                        {{ form_widget(form.phone) }}
                        {{ form_widget(form.fullName) }}

                        <label for="master_profile_form_city" style="display: none;"></label>
                        <select id="master_profile_form_city" name="master_profile_form[city]">
                            {% for city in cities %}
                                <option value="{{ city.id }}" {% if city.id == user.city.id %} selected {% endif %}>{{ city.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="master_profile_form_district" style="display: none"></label>
                        <select id="master_profile_form_district" name="master_profile_form[district]">
                            {% for district in districts %}
                                <option data-list-id="{{ district.city.id }}" value="{{ district.id }}" {% if district.city.id == user.city.id %} selected {% endif %}>
                                    {{ district.name }}
                                </option>
                            {% endfor %}
                        </select>

                        <div class="avatar_upload">
                            {% if user.avatar %}
                                <img src="{{ asset('uploads/files/' ~ user.avatar) }}" class="user-rounded" width="121" height="121" />
                            {% else %}
                                <img id="avatar" src="{{ asset('assets/images/avatar.png') }}">
                            {% endif %}
                            <div class="">
                                <p>Аватар пользователя</p>
                                <div class="upload_file upload_file_1">
                                    {{ form_widget(form.avatar) }}
                                    <button class="upload upload-1">Загрузить<i></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="pasport_upload">
                        <h3>Фото паспорта</h3>
                        <div class="p_upload_items">
                            <div class="p_upload_item">

                                <div class="file_upload">
                                    <p>Главная страница</p>
                                    <span>
                                        {% if user.doc1 is not empty or user.doc1 is not null %}
                                            <img src="{{ asset('uploads/files/' ~ user.doc1) }}" width="40" height="40" />
                                         {% else %}
                                            <span><img id="doc1" src="{{ asset('assets/images/file_upload.svg') }}" alt="" /></span>
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="p_upload_btn upload_file_2">
                                    {{ form_widget(form.doc1) }}
                                    <button class="upload upload-2">Загрузить<i></i></button>
                                </div>
                            </div>

                            <div class="p_upload_item">
                                <div class="file_upload">
                                    <p>Страница прописки</p>
                                    <span>
                                        {% if user.doc2 is not empty or user.doc2 is not null %}
                                            <img src="{{ asset('uploads/files/' ~ user.doc2) }}" width="40" height="40" />
                                        {% else %}
                                            <img id="doc2" src="{{ asset('assets/images/file_upload.svg') }}" alt="" />
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="p_upload_btn upload_file_3">
                                    {{ form_widget(form.doc2) }}
                                    <button class="upload upload-3">Загрузить<i></i></button>
                                </div>
                            </div>

                            <div class="p_upload_item">
                                <div class="file_upload">
                                    <p>Селфи с паспортом</p>
                                    <span>
                                   {% if user.doc3 is not empty or user.doc3 is not null %}
                                        <img src="{{ asset('uploads/files/' ~ user.doc3) }}" width="40" height="40" />
                                   {% else %}
                                       <img id="doc3" src="{{ asset('assets/images/file_upload.svg') }}" alt="" />
                                    {% endif %}
                                    </span>
                                </div>
                                <div class="p_upload_btn upload_file_4">
                                    {{ form_widget(form.doc3) }}
                                    <button class="upload upload-4">Загрузить<i></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {#ToDo: set checkboxes#}
                <div class="col-md-12">
                    <div class="reg_prof">
                        <h3>Специализация</h3>
                        {% if professions is not empty %}
                            <div class="cb_block">
                                {% for profession in professions %}
                                    <div class="cb_items">
                                        <div class="main_checkbox main_checkbox_{{ profession.id }}">
                                            <label class="checkbox">
                                                <input type="checkbox" id="master_profile_form_professions_{{ profession.id }}"
                                                       name="master_profile_form[professions][]" value="{{ profession.id }}"
                                                        {% for prof in user.professions %}{% if prof.id == profession.id %} checked {% endif %}{% endfor %}>
                                                <span>{{ profession.name }}</span>
                                            </label>
                                        </div>
                                        <div class="prof_{{ profession.id }} hidden">
                                        {% for jobType in profession.jobTypes %}
                                            <label class="checkbox">
                                                <input type="checkbox" id="master_profile_form_jobTypes_{{ jobType.id }}"
                                                        {% for type in user.jobTypes %}{% if type.id == jobType.id %} checked {% endif %}{% endfor %}
                                                       name="master_profile_form[jobTypes][]" value="{{ jobType.id }}">
                                                <span>{{ jobType.name }}</span>
                                            </label>
                                        {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>{{ 'Empty professions list'|trans }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="reg_bottom">
                        <div class="cb_notifications">
                            <label class="checkbox">
                                {{ form_widget(form.getNotifications) }}
                                <span>Получать уведомления</span>
                            </label>
                        </div>
                        <button>Обновить</button>
                    </div>
                </div>
                {{ form_end(form) }}

                <script type="text/javascript">
                    createDependableList ( '#master_profile_form_city', '#master_profile_form_district' );
                </script>

            </div>
        </div>
    </section>
    {#<script>
        $(function(){
            $("#master_profile_form_phone").mask("+7(999) 999-9999");
        });
    </script>#}
    {% include 'partials/footer/_footer.html.twig' %}

    <script>
        if ($('#master_profile_form_professions_1').is(':checked')) {
            $( ".prof_1" ).addClass( 'show');
        }
        if ($('#master_profile_form_professions_2').is(':checked')) {
            $( ".prof_2" ).addClass( 'show');
        }
        if ($('#master_profile_form_professions_3').is(':checked')) {
            $( ".prof_3" ).addClass( 'show');
        }

        $("#master_profile_form_professions_1").click(function(){
            $(".prof_1").toggle(100);
        });
        $("#master_profile_form_professions_2").click(function(){
            $(".prof_2").toggle(100);
        });
        $("#master_profile_form_professions_3").click(function(){
            $(".prof_3").toggle(100);
        });

        // New avatar uploaded
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#avatar')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        function readDoc1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#doc1')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        function readDoc2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#doc2')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        function readDoc3(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#doc3')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        // Hover on upload button
        $( ".upload_file_1" ).hover(
            function() {
                $( ".upload-1" ).addClass( 'hover');
            }, function() {
                $( ".upload-1" ).removeClass( 'hover');
            }
        );
        $( ".upload_file_2" ).hover(
            function() {
                $( ".upload-2" ).addClass( 'hover');
            }, function() {
                $( ".upload-2" ).removeClass( 'hover');
            }
        );
        $( ".upload_file_3" ).hover(
            function() {
                $( ".upload-3" ).addClass( 'hover');
            }, function() {
                $( ".upload-3" ).removeClass( 'hover');
            }
        );
        $( ".upload_file_4" ).hover(
            function() {
                $( ".upload-4" ).addClass( 'hover');
            }, function() {
                $( ".upload-4" ).removeClass( 'hover');
            }
        );

        $("#registration_master_form_professions_1").click(function(){
            $(".prof_1").toggle(100);
        });
        $("#registration_master_form_professions_2").click(function(){
            $(".prof_2").toggle(100);
        });
        $("#registration_master_form_professions_3").click(function(){
            $(".prof_3").toggle(100);
        });
    </script>

{% endblock %}