{% extends 'layouts/base.html.twig' %}
{% block title %}{{ 'Welcome'|trans }} {{ user.fullName }}{% endblock %}
{% block body %}

<header id="sticky_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'partials/navigation/_navbar.html.twig' %}
            </div>
        </div>
    </div>
</header>

<section id="reg_client">
    <div class="container">
        {% include 'partials/_message.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <div class="reg_contact">
                    <form class="form-std" autocomplete="off" name="assign" method="POST" action="{{ path('app_payment') }}">
                        <h1>{{ 'Top up balance'|trans }}</h1>
                        <p>Введите пополняемую сумму</p>
                        <input type="number" id="payment_sum" name="payment[amount]" required="required" placeholder="Сумма в руб. не менее {{ minAmount }} руб.">
                        <button>{{ 'Submit'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
</section>

    {% include 'partials/footer/_footer.html.twig' %}
{% endblock %}