{% extends 'layouts/base.html.twig' %}
{% block title %}{{ 'Welcome'|trans }} {{ user.fullName }}{% endblock %}
{% block body %}

    <header id="sticky_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'partials/navigation/_navbar.html.twig' %}
                </div>
            </div>
        </div>
    </header>

    <section id="list_jobs">
        <div class="container">
            {% include 'partials/_message.html.twig' %}
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'Client profile'|trans }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="profile_master">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="profile_master">
                        <div class="profile_img">
                            {% if user.avatar is not null %}
                                <div class="rounded">
                                    <img src="{{ asset('uploads/files/' ~ user.avatar) }}" width="121" height="121" alt="" />
                                </div>
                            {% else %}
                                <img src="{{ asset('assets/images/avatar.png') }}" alt="">
                            {% endif %}
                        </div>
                        <div class="profile_info">
                            <div class="fio">
                                {{ user.fullName }}
                            </div>
                            <div class="city">
                                {{ user.city.name }} - {{ user.district }}
                            </div>
                            <div class="phone">
                                {{ user.phone }}
                            </div>
                        </div>
                    </div>
                    <div class="btn_profile_edit">
                        <a href="{{ path('app_edit_client_profile') }}"><button>{{ 'Edit profile'|trans }}</button></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('app_order_new') }}"><button>{{ 'Create order'|trans }}</button></a>
                </div>
            </div>
        </div>
    </section>


    {#    <!-- Созданные заявки -->#}
    <section id="list_items">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ 'New orders'|trans }}</h3>
                </div>
            </div>

            {% if newOrders is not empty %}
            <div class="row new_orders_list">
                {% for order in newOrders %}
                    {% include 'partials/order/_new_order_item.html.twig' %}
                {% endfor %}
            </div>

                <script>
                    $('.new_orders_list').simpleLoadMore({
                        item: 'div.col-md-4',
                        count: 3,
                        counterInBtn: true,
                        //btnText: 'View More {showing}/{total}',
                        btnText: '{{ 'Show all new orders'|trans }}',
                    });
                </script>

            {#<div class="row">
                <div class="col-md-12">
                    <div class="btn_center">
                        <button>{{ 'Show all new orders'|trans }}</button>
                    </div>
                </div>
            </div>#}

            {% else %}
                <p>{{ 'Empty orders list'|trans }}</p>
            {% endif %}
        </div>
    </section>

{#    <!-- Заявки в работе -->#}
    <section id="list_items">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ 'Active orders'|trans }}</h3>
                </div>
            </div>

            {% if activeOrders is not empty %}
            <div class="row active_orders_list">
                {% for order in activeOrders %}
                    {% include 'partials/order/_active_order_item.html.twig' %}
                {% endfor %}
            </div>

                <script>
                    $('.active_orders_list').simpleLoadMore({
                        item: 'div.active-order-item',
                        count: 3,
                        counterInBtn: true,
                        btnText: '{{ 'Show all active orders'|trans }}',
                    });
                </script>

            {#<div class="row">
                <div class="col-md-12">
                    <div class="btn_center">
                        <button>{{ 'Show all active orders'|trans }}</button>
                    </div>
                </div>
            </div>#}

            {% else %}
                <p>{{ 'Empty orders list'|trans }}</p>
            {% endif %}
        </div>
    </section>

    {#    <!-- Заявки завершенные -->#}
    <section id="list_items">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ 'Completed orders'|trans }}</h3>
                </div>
            </div>

            {% if completedOrders is not empty %}
                <div class="row completed_orders_list">
                    {% for order in completedOrders %}
                        {% include 'partials/order/_completed_order_item.html.twig' %}
                    {% endfor %}
                </div>

                <script>
                    $('.completed_orders_list').simpleLoadMore({
                        item: 'div.col-md-4',
                        count: 3,
                        counterInBtn: true,
                        btnText: '{{ 'Show all completed orders'|trans }}',
                    });
                </script>

                {#<div class="row">
                    <div class="col-md-12">
                        <div class="btn_center">
                            <button>{{ 'Show all completed orders'|trans }}</button>
                        </div>
                    </div>
                </div>#}

            {% else %}
                <p>{{ 'Empty orders list'|trans }}</p>
            {% endif %}
        </div>
    </section>
    {% include 'partials/footer/_footer.html.twig' %}
{% endblock %}
