{% extends 'layouts/base.html.twig' %}
{% block title %}{{ 'Welcome'|trans }} {{ user.fullName }}{% endblock %}
{% block body %}

<header id="sticky_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'partials/navigation/_navbar.html.twig' %}
            </div>
        </div>
    </div>
</header>

<section id="list_jobs">
    <div class="container">
        {% include 'partials/_message.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'Request a withdrawal'|trans }}</h1>

                {{ form_start(form, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}

                    <button>Обновить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>

    {% include 'partials/footer/_footer.html.twig' %}
{% endblock %}