{% extends 'layouts/base.html.twig' %}
{% block title %}{{ 'Welcome'|trans }} {{ user.fullName }}{% endblock %}
{% block body %}

<header id="sticky_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'partials/navigation/_navbar.html.twig' %}
            </div>
        </div>
    </div>
</header>

<section id="list_jobs">
    <div class="container">
        {% include 'partials/_message.html.twig' %}
        <div class="row">
            <div class="col-md-12">

                <div class="form-background">
                    <h1>{{ 'Request a withdrawal'|trans }}</h1>
                    <p>Вы собираетесь послать запрос на вывод средств в сумме <span class="money">{{ user.balance|format_currency('RUB') }}</span></p>
                    <p>Если вы уверены, нажмите кнопку отправить</p>
                    {{ form_start(form, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}
                    <input type="hidden" name="request_form[amount]" value="{{ user.balance }}">
                    <button>{{ 'Send'|trans }}</button>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
</section>

    {% include 'partials/footer/_footer.html.twig' %}
{% endblock %}